*{
    box-sizing: border-box;
}
ul{
    margin:0;
    padding:0;
}
.title{
    font-size: 30px;
    letter-spacing: 0.1em;
    padding: 5px 10px;
}
.quad,.ring {
    float: left;
    width: 50%;
}
.quad-title {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.1em;
}
.quad{
    padding:20px;
}
.ring{
  padding:10px 15px;
  font-size: 18px;
  letter-spacing: 0.1em;
}
.ring li{
    font-size:15px;
    padding:5px;
}
.ring-title {
    text-decoration: underline;
}
.filter-box{
    text-align: center;
    width:100%;
    margin: 0 auto;
    padding: 20px;
    letter-spacing: 0.1em;
}

.filter-tags {
    display: inline-block;
    padding: 5px 20px;
}
.filter-tags input{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.filter-tags label{
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 5px;
    letter-spacing: 0.2em;
}
.filter-box legend{
    text-align: left;
}